include README.md
include *.py *.txt
recursive-include pygtkhelpers *.py
recursive-include examples *.py *.ui
recursive-include tests *.py *.ui *.png
recursive-include docs *.py *.rst *.png
include versioneer.py
include pygtkhelpers/_version.py
